**.vscode

**.db
**.log
**log/
**build/
**install/
**__pycache__/
**.tex

**/docs
**/docs/slides
**/src/robot_3r_optimizers
**/src/concepts/rtb_rrt.py
**/src/concepts/texfig.py
**/src/concepts/config_space_bak.py
**/src/concepts/coll_det_bak.py
**/src/concepts/astar_search_bak.py
**/src/concepts/tree_cost.py
**/src/concepts/random_sampling.py
**/src/concepts/rtb_traj_generator.py
**/src/concepts/jsp_path_generation.py
**/src/concepts/fk_ik.py
**/src/concepts/*.csv

lab5.build.sh
/src/robot_3r_planners/robot_3r_planners/exercise/example_usage.py
/src/robot_3r_planners/robot_3r_planners/exercise/README.md
/src/robot_3r_trajectory/robot_3r_trajectory/via_point_trajectory.py